<div
  class="forecast-container"
  (click)="getMore()">

  <div class="inner-container" >
    <div class='header-container'>
      
    <p>{{ getTime(weather?.dt!) }}</p></div>
    <div class="current-temp" >
      <div class="current-container">
        <p>
          
          {{
            convertPressure((weather?.main?.grnd_level || weather?.main?.pressure)!)
          }}
          {{ "mmHG" | translate }}
        </p>
        <p> {{ weather?.main?.humidity }} %</p>
          <div class="wind-deg">
            <p>{{ weather?.wind?.speed?.toFixed(1) }}
              {{ "m/s" | translate }}</p>
            <div [style]="'transform: rotate(' + weather?.wind?.deg + 'deg)'">
              ↓
            </div>
          <div class="wind-definition" >
            {{ defineWind(weather?.wind?.deg!) }}
         
        </div>
        </div>
      </div>
     <div class="clouds-container"> 
      <img
        class="weather-image"
        src="{{ getIcon((weather?.weather)![0].icon) }}"
        alt="icon"
      />
      <p>{{ weather?.clouds?.all }} %</p>
    </div>
      <p class="temp" [style]="'color:' + getColor(weather?.main?.temp!)">
        {{ weather?.main?.temp?.toFixed(1) }} ℃
      </p>
    </div>
  </div>
</div>
