<div class="container" *ngrxLet="isChosen$$ as isChosen ">
<div class="loading" [class.visible]="isChosen && !(currentWeather$ | async)" >
    <p>{{ "LOADING" | translate }}...</p>
  </div>
  <div *ngrxLet="currentWeather$ as current"
    class="forecast-container"
    [class.container-appear]="isChosen && current"
    (mouseenter)="isMoreInfo = true"
    (mouseleave)="isMoreInfo = false"
    [class.more]="isMoreInfo"
  >
    <p class="place">{{ current?.name }} , {{ current?.sys?.country }}</p>
    <div class="flag" [style]="getFlagStyle(current?.sys?.country)"></div>
    <p>{{ "Now" | translate }}</p>
    <div class="current-temp">
      <p class="description">{{ current?.weather[0]?.description }}</p>
      <img
        class="weather-image"
        src="{{ getIcon(current?.weather[0]?.icon) }}"
        alt="icon"
      />
      <p class="temp" [style]="'color:' + (tempColor$$ | async)">
        {{ (current?.main?.temp).toFixed(1) }} ℃
      </p>
      <p class="feels-like">
        {{ "Feels like" | translate }}:
        {{ (current?.main?.feels_like).toFixed(1) }} ℃
      </p>
    </div>
    <p>
      {{ "min...max" | translate }}:
      {{ (current?.main?.temp_min).toFixed(1) }} ...
      {{ (current?.main?.temp_max).toFixed(1) }} ℃
    </p>
    <p>
      {{ "Pressure" | translate }}:
      {{ convertPressure(current?.main?.grnd_level || current?.main?.pressure) }} {{ "mmHG" | translate }}
    </p>
    <p>{{ "Humidity" | translate }}: {{ current?.main?.humidity }} %</p>
    <p>{{ "Cloudness" | translate }}: {{ current?.clouds?.all }} %</p>
    <div class="wind">
      {{ "Wind" | translate }}: {{ current?.wind?.speed }}
      {{ "m/s" | translate }}
      <div
        class="wind-deg"
        [style]="
          'transform: rotate(' +
          current?.wind?.deg +
          'deg)'
        "
      >
        ↓
      </div>
    </div>
    <p>
      {{ "Visibility" | translate }}: {{ current?.visibility }}
      {{ "m" | translate }}
    </p>
    <p>
      {{ "Precipitation" | translate }} {{"1h"|translate}}:
      {{ current?.snow?.['1h']||current?.rain?.['1h']||0}} {{ "mm" | translate }}
    </p>
  </div>

  <div class="common-container" *ngIf="isChosen && (forecast$ | async )as forecast">
    <div class="forecast-5days-container" *ngrxLet="forecastDays$$ as days">
      <div class="day" *ngFor="let day of days">
        <p [class.red-note]="checkWeekend(day[0])">
          {{ defineDay(day[1], day[2]) }} {{ getDayOfWeek(day[0]) }},
          {{ getMonth(day[2]) }}, {{ day[1] }}
        </p>
        <div class="forecast-5days">
          <app-forecast-card
            #forecastCard
            *ngFor="let weather of forecast.list | chooseDate : day[1]"
            [weather]="weather"
          ></app-forecast-card>
        </div>
      </div>
    </div>
  </div>
</div>