<section class="developer-card">   
      <img
        [src]="developer?.photoURL"
        [alt]="developer?.alt"
        class="developer-picture" />
        <div class="text-container">
      <mat-card-header>
        <mat-card-title>
          {{ developer?.firstName }} {{ developer?.secondName }}
        </mat-card-title>
       <a [href]=" developer?.git " target="_blank">{{developer?.git}}</a>
      </mat-card-header>
      <mat-card-content>
        <p>{{ developer?.aboutAuthor }}</p>
        <ul *ngFor="let feature of developer?.features">
          <li>{{ feature }}</li>
        </ul>
      </mat-card-content>
    </div>
    </section>
  
 