.input-container {
  position: absolute;
  top: 0px;
  left: 20px;
  display: flex;
  gap: 20px;
  min-width: 700px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  padding: 10px;
  border: 2px dotted red;
}
.input-color {
  width: 30px;
  height: 30px;
}
.input-delta {
  width: 100px;
}
.filter-container {
  position: absolute;
  left: -140px;
  top: -20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
  height: fit-content;
  gap: 5px;
}
.canvas {
  position: fixed;
  right: 0px;
  bottom: 50px;
  width: 20vw;
  padding: 0px;
}
.canvas-2 {
  position: fixed;
  left: 50px;
  bottom: 70px;
  width: 640px;
  height: 480px;
  padding: 0px;
  border: 2px solid rgb(236, 36, 36);
  background-color: black;
}
.canvas-3 {
  position: fixed;
  left: 700px;
  bottom: 300px;
  padding: 0px;
  border: 2px solid rgb(80, 13, 237);
}
.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 50px;
  height: 30px;
  position: fixed;
  left: 0px;
  bottom: 170px;
  opacity: 0;
  visibility: hidden;
  &:hover {
    background-color: #eee;
  }
}
.visible {
  opacity: 1;
  visibility: visible;
}
.invisible {
  opacity: 0;
  visibility: hidden;
}
.average-color {
  position: fixed;
  left: 700px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: 2px solid red;
  padding: 30px;
}
.point-color {
  position: fixed;
  left: 700px;
  bottom: 180px;
  width: 50px;
  height: 50px;
  border: 2px solid green;
  padding: 30px;
}
.display-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 2% auto;
  position: relative;
}
.video-wrapper{
  position: relative;
  left: 270px;
  width: 320px;
  height: auto;
  top: 70px;
  z-index: 10;
  & p{
    position: relative;
    left: 70px;
    top: -120px; 
    font-size: 40px;
  }
}

video {
  position: relative;
  left: 0px;
  width: 320px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  
}

.video-options {
  position: absolute;
  left: 700px;
  top: -20px;
}

.controls {
  position: fixed;
  right: 40px;
  top: 140px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 350px;
}

.controls button:nth-child(1) {
  border: 2px solid #d2002e;
}

.controls button:nth-child(2) {
  border: 2px solid #008496;
}

.controls button:nth-child(3) {
  border: 2px solid #00b541;
}
.controls button:nth-child(4) {
  border: 2px solid #672052;
}
.controls button:nth-child(5) {
  border: 2px solid #14fcbe;
}

.controls > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 6px;
  background: transparent;
  cursor: pointer;
  &:hover {
    background-color: #c1eef4;
  }
}

.average-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 120px;
  border: 1px dashed red;
  border-radius: 5px;
  position: fixed;
  left: 850px;
  bottom: 50px;
}
.point-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 120px;
  border: 1px dashed green;
  border-radius: 5px;
  position: fixed;
  left: 850px;
  bottom: 180px;
}
.dark {
  color: #eee;
}
.dark > .controls > button {
  color: #eee;
}
.reset-button {
  position: absolute;
  top: 70px;
  left: 170px;
  min-width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: red;
  font-size: 20px;
  border-radius: 5px;
  &:hover {
    background-color: #ccc;
  }
  &:active {
    background-color: red;
    color: #eee;
  }
  &disabled {
    cursor: auto;
    opacity: 0.3;
    color: #666;
  }
}
.file-input {
  width: 140px;
}
.user-adjusment {
  position: fixed;
  right: 120px;
  bottom: 280px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  height: 60px;
  border: 2px dotted blue;
  font-size: 32px;
  color: #888;
}
.fragment-increase,
.fragment-decrease {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: #eee;
    color: #000;
  }
  &:active {
    background-color: #888;
    color: #fff;
  }
}
.adjustment-disable {
  color: #eee;
  cursor: auto;
  &:hover {
    background-color: transparent;
    color: #eee;
  }
  &:active {
    background-color: transparent;
    color: #eee;
  }
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50%;
  right: 50%;
}
.matching {
  width: 70px;
  height: 40px;
  border:2px solid red;
  position: fixed;
  top:140px;
  left:550px;
  color:red;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
