<div class="places-container" *ngrxLet="places$$; let places">
  <p *ngIf="places.length >0">{{'Last searching'| translate}}:</p>
  <button
    class="clean"
    (click)="clean()"
    *ngIf="places.length >0"
  >
    {{'Clean'|translate}}
  </button>
  <div
    class="main-container"
    *ngFor="let place of places"
    (click)="callPlace(place)"
    (mouseenter)="hovered = place" (mouseleave)="hovered = null"
  >
    <div class="item-container">
      {{ place?.name }}, {{ place?.country }}, {{ place?.state }}
    </div>
    <div class="flag" [style]="getFlagStyle(place.country)"></div>
    <p class="delete" [class.visible]="hovered==place"(click)="delete(place)">x</p>
  </div>
</div>
