.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4c6df0;
    font-size: 30px;
    text-align: center;
}
.start-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width:280px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #4c6df0;
    font-size: 30px;
    margin-top: 40px;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
      background-color: rgba($color: #cceeff, $alpha: 1);
      box-shadow: 1px 1px 5px rgb(100, 100, 100);
      transition: 200ms;
    }
    &:active {
      background-color: #fff;
    }
  }
