<div class="background" [class.visible]="(isVisible$$|async) === true" (click)="close()"></div>
<div class="window" [class.visible]="(isVisible$$|async) === true" *ngrxLet="day$$ as day">
    <div class="button-close" (click)="close()"><mat-icon>close</mat-icon></div>
    <div class="window-container">
        <div class="day-container">
            <p [class.red-note]="checkWeekend(day[0])">
              {{ defineDay(day[1], day[2]) }} {{ getDayOfWeek(day[0]) }},
              {{ getMonth(day[2]) }}, {{ day[1] }}
            </p>
          </div>
    <div class="inner-container" >
        <p>{{ getTime(weather?.dt!) }}</p>
        <div class="current-temp" >
          <p class="description" >
            {{ (weather?.weather)?.[0]?.description }}
          </p>
          <img
            class="weather-image"
            src="{{ getIcon((weather?.weather)?.[0]?.icon) }}"
            alt="icon"
          />
          <p class="temp" [style]="'color:' + getColor(weather?.main?.temp!)">
            {{ weather?.main?.temp?.toFixed(1) }} ℃
          </p>
          <p class="feels-like" >
            {{ "Feels like" | translate }}:
            {{ weather?.main?.feels_like?.toFixed(1) }} ℃
          </p>
        </div>
        <p>
          {{ "Pressure" | translate }}:
          {{
            convertPressure((weather?.main?.grnd_level || weather?.main?.pressure)!)
          }}
          {{ "mmHG" | translate }}
        </p>
        <p>{{ "Humidity" | translate }}: {{ weather?.main?.humidity }} %</p>
        <p>{{ "Cloudness" | translate }}: {{ weather?.clouds?.all }} %</p>
        <div class="wind">
          {{ "Wind" | translate }}: {{ weather?.wind?.speed?.toFixed(1) }}
          {{ "m/s" | translate }}
          <div class="wind-deg"  (mouseenter)="isWindHovered = true"
          (mouseleave)="isWindHovered = false">
            <div [style]="'transform: rotate(' + weather?.wind?.deg + 'deg)'">
              ↓
            </div>
          </div>
          <div class="wind-definition" [class.visible]="isWindHovered">
            {{ defineWind(weather?.wind?.deg!) }}
          </div>
        </div>
        <div class="wind" *ngIf="weather?.wind?.gust?.toFixed(1)!==weather?.wind?.speed?.toFixed(1)">
            {{ "Gust" | translate }}: {{ weather?.wind?.gust?.toFixed(1) }}
            {{ "m/s" | translate }}</div>
        <p>
          {{ "Visibility" | translate }}: {{ weather?.visibility }}
          {{ "m" | translate }}
        </p>
        <p>
          {{ "Precipitation" | translate }}: {{ (weather?.pop! * 100).toFixed(0) }}%
        </p>
        <p>
          {{ "Precipitation" | translate }} {{ "3h" | translate }}:
          {{ weather?.snow?.['3h']||weather?.rain?.['3h']||0}}
          {{ "mm" | translate }}
        </p>
      </div>
    </div>
</div>

