<div class="main-container" *ngrxLet="pollution$ as pollution">
  <div class="loading" [class.visible]="!(pollution$ | async)!">
    <p>{{ "LOADING" | translate }}...</p>
    <mat-spinner
    diameter="30"
    color="primary"
   ></mat-spinner>
  </div>
  <div class="place" [routerLink]="['../../../../forecast', lat, lon]">
    <mat-icon>arrow_back</mat-icon>
  <p >
    {{ place }} 
  </p>
</div>
  <div class="pollution-container">
    <div class="inner-container" [class.container-appear]="pollution$ | async" >
      <p
        class="pollution-index"
        [style]="getStyle(pollution?.list[0]?.main?.aqi)"
      >
        {{ "Air quality index" | translate }}:
        {{ pollution?.list[0]?.main?.aqi }} ({{
          getDescription(pollution?.list[0]?.main?.aqi) | translate
        }})
      </p>
      <p class="pollution-concentration">
        {{ "Pollution concentration" | translate }}:
      </p>
      <div class="component">
        <p class="component-title">
          CO: {{ pollution?.list[0]?.components?.co }} {{ "μg/m3" | translate }}
        </p>
        <div class="wrapper">
          <div class="diagram">
            <div class="arrow" [style]="getCOStyle(pollution?.list[0]?.components?.co)">⌂</div>
          </div>  
      </div>
      </div>
      <div class="component">
      <p class="component-title">
        NO: {{ pollution?.list[0]?.components?.no }} {{ "μg/m3" | translate }}
      </p>
      <div class="wrapper">
        <div class="diagram">
          <div class="arrow" [style]="getNOStyle(pollution?.list[0]?.components?.no)">⌂</div>
        </div>  
    </div>
    </div>
    <div class="component">
      <p class="component-title">
        NO<sub>2</sub>: {{ pollution?.list[0]?.components?.no2 }} {{ "μg/m3" | translate }}
      </p>
      <div class="wrapper">
        <div class="diagram">
          <div class="arrow" [style]="getNO2Style(pollution?.list[0]?.components?.no2)">⌂</div>
        </div>  
    </div>
    </div>
    <div class="component">
      <p class="component-title">
        O<sub>3</sub>: {{ pollution?.list[0]?.components?.o3 }} {{ "μg/m3" | translate }}
      </p>
      <div class="wrapper">
        <div class="diagram">
          <div class="arrow" [style]="getO3Style(pollution?.list[0]?.components?.o3)">⌂</div>
        </div>  
    </div>
    </div>
    <div class="component">
      <p class="component-title">
        SO<sub>2</sub>: {{ pollution?.list[0]?.components?.so2 }} {{ "μg/m3" | translate }}
      </p>
      <div class="wrapper">
        <div class="diagram">
          <div class="arrow" [style]="getSO2Style(pollution?.list[0]?.components?.so2)">⌂</div>
        </div>  
    </div>
    </div>
    <div class="component">
      <p class="component-title">
        PM<sub>2.5</sub>: {{ pollution?.list[0]?.components?.pm2_5 }}
        {{ "μg/m3" | translate }}
      </p>
      <div class="wrapper">
        <div class="diagram">
          <div class="arrow" [style]="getPM2_5Style(pollution?.list[0]?.components?.pm2_5)">⌂</div>
        </div>  
    </div>
    </div>
    <div class="component">
      <p class="component-title">
        PM<sub>10</sub>: {{ pollution?.list[0]?.components?.pm10 }}
        {{ "μg/m3" | translate }}
      </p>
      <div class="wrapper">
        <div class="diagram">
          <div class="arrow" [style]="getPM10Style(pollution?.list[0]?.components?.pm10)">⌂</div>
        </div>  
    </div>
    </div>
    <div class="component">
      <p class="component-title">
        NH<sub>3</sub>: {{ pollution?.list[0]?.components?.nh3 }} {{ "μg/m3" | translate }}
      </p>
      <div class="wrapper">
        <div class="diagram">
          <div class="arrow" [style]="getHN3Style(pollution?.list[0]?.components?.nh3)">⌂</div>
        </div>  
    </div>
    </div>
    </div>
  </div>
  <div class="pollution-forecast-container" *ngrxLet="pollutionForecast$ as forecast"
  [class.container-appear]="pollutionForecast$ | async">
    <div class="forecast-title">{{'5 days forecast'|translate}}:</div>
    
    <div class="pollution-forecast">
      <app-pollution-forecast-element [forecast]="forecast" [index]="'CO'">
      </app-pollution-forecast-element>
      <div class="high-level-container">
        <div class="level-text" [style]="getHighLevelPosition(forecast,'CO')">{{getHighLevel(forecast, "CO")}}</div>
      <div class="high-level" [style]="getHighLevelPosition(forecast,'CO')"></div>
    </div>
      <div class="low-level-container">
        <div class="level-text" [style]="getLowLevelPosition(forecast,'CO')">{{getLowLevel(forecast, "CO")}}</div>
      <div class="low-level" [style]="getLowLevelPosition(forecast,'CO')"></div>
    </div>
    </div>
    <div class="pollution-forecast">
      <app-pollution-forecast-element [forecast]="forecast" [index]="'NO'">
      </app-pollution-forecast-element>
      <div class="high-level-container">
        <div class="level-text" [style]="getHighLevelPosition(forecast,'NO')">{{getHighLevel(forecast, "NO")}}</div>
      <div class="high-level" [style]="getHighLevelPosition(forecast,'NO')"></div>
    </div>
      <div class="low-level-container">
        <div class="level-text" [style]="getLowLevelPosition(forecast,'NO')">{{getLowLevel(forecast, "NO")}}</div>
      <div class="low-level" [style]="getLowLevelPosition(forecast,'NO')"></div>
    </div>
    </div>
    <div class="pollution-forecast">
      <app-pollution-forecast-element [forecast]="forecast" [index]="'NO2'">
      </app-pollution-forecast-element>
      <div class="high-level-container">
        <div class="level-text" [style]="getHighLevelPosition(forecast,'NO2')">{{getHighLevel(forecast, "NO2")}}</div>
      <div class="high-level" [style]="getHighLevelPosition(forecast,'NO2')"></div>
    </div>
      <div class="low-level-container">
        <div class="level-text" [style]="getLowLevelPosition(forecast,'NO2')">{{getLowLevel(forecast, "NO2")}}</div>
      <div class="low-level" [style]="getLowLevelPosition(forecast,'NO2')"></div>
    </div>
    </div>
    <div class="pollution-forecast">
      <app-pollution-forecast-element [forecast]="forecast" [index]="'O3'">
      </app-pollution-forecast-element>
      <div class="high-level-container">
        <div class="level-text" [style]="getHighLevelPosition(forecast,'O3')">{{getHighLevel(forecast, "O3")}}</div>
      <div class="high-level" [style]="getHighLevelPosition(forecast,'O3')"></div>
    </div>
      <div class="low-level-container">
        <div class="level-text" [style]="getLowLevelPosition(forecast,'O3')">{{getLowLevel(forecast, "O3")}}</div>
      <div class="low-level" [style]="getLowLevelPosition(forecast,'O3')"></div>
    </div>
    </div>
    <div class="pollution-forecast">
      <app-pollution-forecast-element [forecast]="forecast" [index]="'SO2'">
      </app-pollution-forecast-element>
      <div class="high-level-container">
        <div class="level-text" [style]="getHighLevelPosition(forecast,'SO2')">{{getHighLevel(forecast, "SO2")}}</div>
      <div class="high-level" [style]="getHighLevelPosition(forecast,'SO2')"></div>
    </div>
      <div class="low-level-container">
        <div class="level-text" [style]="getLowLevelPosition(forecast,'SO2')">{{getLowLevel(forecast, "SO2")}}</div>
      <div class="low-level" [style]="getLowLevelPosition(forecast,'SO2')"></div>
    </div>
    </div>
    <div class="pollution-forecast">
      <app-pollution-forecast-element [forecast]="forecast" [index]="'PM2_5'">
      </app-pollution-forecast-element>
      <div class="high-level-container">
        <div class="level-text" [style]="getHighLevelPosition(forecast,'PM2_5')">{{getHighLevel(forecast, "PM2_5")}}</div>
      <div class="high-level" [style]="getHighLevelPosition(forecast,'PM2_5')"></div>
    </div>
      <div class="low-level-container">
        <div class="level-text" [style]="getLowLevelPosition(forecast,'PM2_5')">{{getLowLevel(forecast, "PM2_5")}}</div>
      <div class="low-level" [style]="getLowLevelPosition(forecast,'PM2_5')"></div>
    </div>
    </div>
    <div class="pollution-forecast">
    <app-pollution-forecast-element [forecast]="forecast" [index]="'PM10'">
    </app-pollution-forecast-element>
    <div class="high-level-container">
      <div class="level-text" [style]="getHighLevelPosition(forecast,'PM10')">{{getHighLevel(forecast, "PM10")}}</div>
    <div class="high-level" [style]="getHighLevelPosition(forecast,'PM10')"></div>
  </div>
  <div class="low-level-container">
    <div class="level-text" [style]="getLowLevelPosition(forecast,'PM10')">{{getLowLevel(forecast, "PM10")}}</div>
  <div class="low-level" [style]="getLowLevelPosition(forecast,'PM10')"></div>
</div>
  </div>
  <div class="pollution-forecast">
    <app-pollution-forecast-element [forecast]="forecast" [index]="'NH3'">
    </app-pollution-forecast-element>
    <div class="high-level-container">
      <div class="level-text" [style]="getHighLevelPosition(forecast,'NH3')">{{getHighLevel(forecast, "NH3")}}</div>
    <div class="high-level" [style]="getHighLevelPosition(forecast,'NH3')"></div>
  </div>
    <div class="low-level-container">
      <div class="level-text" [style]="getLowLevelPosition(forecast,'NH3')">{{getLowLevel(forecast, "NH3")}}</div>
    <div class="low-level" [style]="getLowLevelPosition(forecast,'NH3')"></div>
  </div>
  </div>
</div>
  
  <div class="go-back" [routerLink]="['../../../../forecast', lat, lon]">
    <mat-icon>arrow_back</mat-icon>
    <p>{{ "Back to weather forecast" | translate }}</p>
  </div>
</div>
