<div class="outer-container" *ngrxLet="posY$$ as posY">
  <div
    *ngrxLet="tempColor$$ as tempColor"
    class="header-container"
    [style]="getHeaderColor(tempColor, posY)"
  >
    <p class="phrase">{{ "There is no bad weather" | translate }}...</p>
    <button
      class="theme"
      (click)="themeToggle()"
      [style]="getStyle(currentTheme$$ | async)"
    ></button>
    <button mat-icon-button class="lang" (click)="langToggle()">
      {{ (currentLang$$ | async)?.toUpperCase() }}
    </button>
   
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu_vert</mat-icon>
    </button>
  
  <mat-menu  #menu>
    <ng-container>
    <button mat-menu-item [routerLink]='["./about"]'>{{"About developer"|translate}}</button>
    <button mat-menu-item (click)="exit()">{{"Exit"|translate}}</button>
    </ng-container>
  </mat-menu>

  </div>
</div>
