<div class="outer-container" *ngrxLet="posY$$ as posY">
  <div
    *ngrxLet="tempColor$$ as tempColor"
    class="header-container"
    [style]="getHeaderColor(tempColor, posY)"
  >
    <p class="phrase">{{ "There is no bad weather" | translate }}...</p>
    <p class="current-date">{{ currentDate$$ | async | date : "medium" }}</p>
    <div class="theme-container" (click)="themeToggle()">
      <div
        class="theme-strip"
        [style]="getStripStyle(currentTheme$$ | async, posY)"
      ></div>
      <div class="theme" [style]="getStyle(currentTheme$$ | async, posY)"></div>
    </div>
    <button mat-icon-button class="lang" (click)="langToggle()">
      {{ (currentLang$$ | async)?.toUpperCase() }}
    </button>

    <button
      class="menu-button"
      [matMenuTriggerFor]="menu"
      *ngIf="isStart$$ | async"
    >
      <mat-icon>menu_vert</mat-icon>
    </button>

    <mat-menu #menu>
      <ng-container>
        <button mat-menu-item [routerLink]="['./']" *ngIf="checkPath('/forecast/')">
          {{ "Weather forecast" | translate }}
        </button>
        <button mat-menu-item [routerLink]="['./about']" *ngIf="checkPath('about')">
          {{ "About developer" | translate }}
        </button>
        <button mat-menu-item [routerLink]="['./experiments']" *ngIf="checkPath('experiments')">
          {{ "Experiment(admin only)" | translate }}
        </button>
        <button mat-menu-item [routerLink]="['./oscillator']"*ngIf="checkPath('oscillator')">
          {{ "Oscillator(admin only)" | translate }}
        </button>
        <button mat-menu-item (click)="exit()">{{ "Back" | translate }}</button>
      </ng-container>
    </mat-menu>
    <div
      class="battery"
      *ngIf="batteryLevel$$"
      (mouseenter)="isBatteryHovered = true"
      (mouseleave)="isBatteryHovered = false"
    >
      <div
        class="battery-inner"
        [style]="
          getBatteryStyle((batteryLevel$$ | async)!, (batteryColor$$ | async)!)
        "
      >
        <mat-icon class="charging-icon" *ngIf="isBatteryCharging$$ | async"
          >usb</mat-icon
        >
      </div>
      <span class="battery-value"
        >{{ defineLevel((batteryLevel$$ | async)!) }}%</span
      >
    </div>
    <div
      class="about-battery"
      [class.about-battery-visible]="
        isBatteryHovered && (dischargingTime$$ | async) !== ''
      "
    >
      <p>{{ dischargingTime$$ | async }}</p>
    </div>
  </div>
</div>
