.outer-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 14;
}
.header-container {
  top: 0;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 15;
  transition: 0.2s;
}
.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background-color: #eee;
  }
  &:active {
    background-color: #fff;
  }
}
.theme-container{
  display:flex;
  flex-direction: column;
  width: 60px;
  height: 40px;
  cursor: pointer;
}
.theme {
  position: relative;
  top:-1px;
  left:-20px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 200ms;
 
  &:hover {
    
  }
  &:active {
    
  }
}
.theme-strip {
  position: relative;
  top:15px;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background-color: #aaa;
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background-color: #eee;
  }
  &:active {
    background-color: #fff;
  }
}
.battery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20px;
  height: 10px;
  background-color: black;
  border: 2px solid #eee;
  border-radius: 2px;
  cursor: pointer;
}
.battery-inner {
  height: 10px;
  box-shadow: inset 1px 1px 2px #000;
}
.battery-value {
  position: relative;
  top: 0px;
  left: -50px;
  color: black;
  font-size: 14px;
}
.charging-icon {
  font-size: 17px;
  position: relative;
  top: -3px;
  left: 23px;
}
.about-battery {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 170px;
  height: 60px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #666;
  top: -200px;
  right: 10px;
  transition: 1s;
  z-index: -1;
}
.about-battery-visible {
  top: 60px;
}
@media (max-width: 740px) {
  .phrase,
  .current-date {
    display: none;
  }
}
