<div class="main-container" *ngrxLet="isChosen$$ as isChosen ">
  <div class="inner-container" *ngrxLet="currentWeather$ as current">
  <div class="input-container">
    <input
    list="listRequests"
      type="search"
      class="input-search"
      [placeholder]="'search place' | translate"
      [(ngModel)]="searchRequest"
      (ngModelChange)="rememberSearch(); findPlaces()"
      autofocus
    />
    <datalist id="listRequests">
<option *ngFor="let value of listRequests$$| async">{{value}}</option>
    </datalist>

    <div class="radio-container">
    <input type="checkbox" id="radio-button" [(ngModel)]="isUseCurrentPosition"
    (ngModelChange)="changeSearch()">
    <label for="radio-button">{{"Use your current position"|translate}}</label>
  </div>
  </div>
  <p
    class="link-pollution"
    [routerLink]="[
      '../pollution',
      current?.coord?.lat,
      current?.coord?.lon,
      [current?.name, current?.sys?.country].join(', ')
    ]"
    *ngIf="isChosen"
  >
    {{ "Air quality in this location" | translate }}...
  </p>
  <div class="places-container" *ngIf="isChosen == false">
    <div
      class="place-item"
      *ngFor="let place of places$ | async"
      (click)="
        getCurrentWeather(place.lat, place.lon);
       
        rememberPlace(place)
      "
    >
      <span>{{ place.name }}</span>
      <span> , </span>
      <span>{{ place.country }}</span>
      <span> , </span>
      <span>{{ place.state }}</span>
      <div class="flag-small" [style]="getFlagStyle(place.country)"></div>
    </div>
  </div>
  
 
<router-outlet></router-outlet>

  <app-last-places class="last-places"></app-last-places>
</div>
</div>