<div class="main-container">
  <div class="input-container">
    <input
      type="search"
      class="input-search"
      [placeholder]="'search place'"
      [(ngModel)]="searchRequest"
      (ngModelChange)="rememberSearch(); findPlaces()"
      autofocus
    />
  </div>

  <div class="places-container" *ngIf="isChosen == false">
    <div
      class="place-item"
      *ngFor="let place of places$ | async"
      (click)="getCurrentWeather(place.lat, place.lon); rememberPlace(place)"
    >
      <span>{{ place.name }}</span>
      <span> , </span>
      <span>{{ place.country }}</span>
      <span> , </span>
      <span>{{ place.state }}</span>
      <div class="flag-small" [style]="getFlagStyle(place.country)"></div>
    </div>
  </div>
  <div  class='loading'[class.visible]="isChosen && !(currentWeather$ | async)"><p>LOADING...</p></div>
  <div
    class="forecast-container"
    *ngrxLet=" currentWeather$ as current "
    [class.container-appear]="(isChosen && current) "
    (mouseenter)="isMoreInfo=true"
    (mouseleave)="isMoreInfo=false"
    [class.more]="isMoreInfo"
    
  >
    <p class="place">{{ current?.name }} , {{ current?.sys?.country }}</p>
    <div class="flag" [style]="getFlagStyle(current?.sys?.country)"></div>
    <p>{{ getTime(current?.dt) | date : "long" }}</p>
    <p>{{ current?.weather[0]?.main }}</p>
    <div class="current-temp">
      <p class="description">{{ current?.weather[0]?.description }}</p>
      <p class="temp" [style]="'color:'+(tempColor$$|async)">
        {{ (current?.main?.temp).toFixed(1) }} ℃
      </p>
      <p class="feels-like">Feels like: {{ (current?.main?.feels_like).toFixed(1) }} ℃</p>
    </div>
    <p>
      min...max: {{ (current?.main?.temp_min).toFixed(1) }} ...
      {{ (current?.main?.temp_max).toFixed(1) }} ℃
    </p>
    <p>Pressure: {{ convertPressure(current?.main?.pressure) }} mmHG</p>
    <p>Humidity: {{ current?.main?.humidity }} %</p>
    <p>Cloudnees: {{ current?.clouds?.all }} %</p>
    <p>Wind: {{ current?.wind?.speed }} m/s</p>
  </div>
  <app-last-places class="last-places"></app-last-places>
</div>
