* {
  margin: 0;
  padding: 0;
}
input,
input:focus {
  outline: 0;
  border: transparent;
  font-size: 16px;
}
.main-container {
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.places-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
  transition: 500ms;
}
.forecast-container {
  margin-left: auto;
  margin-right: auto;
  transform: scale(0);
  width: 300px;
  height: 262px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin-top: 50px;
  background-color: rgba($color: #cceeff, $alpha: 0.7);
  box-shadow: 1px 1px 2px rgba(4, 134, 241, 0.5);
  border-radius: 5px;
  color: #000;
  transition: 500ms;
  &:hover {
    opacity: 1;
    background-color: rgba($color: #cceeff, $alpha: 1);
    box-shadow: 1px 1px 5px rgb(100, 100, 100);
  }
}
.more {
  height: 390px;
}
.container-appear {
  transform: scale(1);
}
.place-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  min-width: 50px;
  height: fit-content;
  opacity: 0.7;
  background-color: rgba($color: #cceeff, $alpha: 0.7);
  box-shadow: 1px 1px 2px rgb(4, 134, 241);
  &:hover {
    opacity: 1;
    background-color: rgba($color: #cceeff, $alpha: 1);
    box-shadow: 1px 1px 5px rgb(100, 100, 100);
    transition: 200ms;
  }
}
.last-places {
  position: absolute;
  top: 50px;
  left: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
.current-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 180px;
  min-height: 150px;
  background-color: rgba($color: #fff, $alpha: 1);
  box-shadow: 1px 1px 2px rgb(100, 100, 100);
  border-radius: 5px;
  margin-bottom: 10px;
}
.temp {
  font-size: 24px;
}
.feels-like {
  color: #999;
}
.description {
  color: #000;
}
.place {
  color: #4c6df0;
  font-size: 24px;
}
.flag {
  width: 36px;
  min-height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.flag-small {
  width: 22px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  opacity: 0;
  visibility: hidden;
  transform: 100ms;
}
.visible {
  opacity: 1;
  visibility: visible;
}


@media (max-width: 980px) {
  .last-places {
    position: static;
    margin: 100px;
  }
}
